@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Ürün Oluştur</h4>
            <p class="card-description"> Lütfen oluşturmak istediğiniz kategori adını giriniz </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Ürün Adı</label>
                    <input type="text" class="form-control" placeholder="Ürün adı" asp-for="ProductName">
                </div>
                <button class="btn btn-primary text-white btn-lg me-2">Kaydet</button>
                <a href="/Admin/Product/Index/" class="btn btn-light btn-lg">Ürün Listesine Dön</a>
            </form>
        </div>
    </div>
</div>
