@model List<ResultProductImageDto>
@{
    ViewData["Title"] = "ProductImageList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    string prodId = ViewBag.productId;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ürüne Ait Görseller</h4>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden" style="height: 330px;">
                            <img class="img-fluid w-100 h-100 object-fit-cover" src="@item.Image" alt="">

                        </div>
                    </div>
                    <a href="/Admin/ProductImage/DeleteProductImage/@item.ProductImageId" class="btn btn-danger">Sil</a>
                    @* <a href="/Admin/ProductImage/UpdateProduct/@item.ProductId" class="btn btn-dark text-white">Güncelle</a> *@
                </div>
            }
        </div>
    </div>
    <div class="card-footer bg-white">
        <a href="/Admin/Product/Index/" class="btn btn-danger btn-lg">Ürün Listesine Dön</a>
        <a href="/Admin/ProductImage/CreateProductImage/@prodId" class="btn btn-primary btn-lg text-white">+ Yeni Görsel Ekle</a>
    </div>
</div>