@model ResultProductDetailDto

@if(Model.ProductDescription != null)
{
    <div class="tab-pane fade show active" id="tab-pane-1">
        <h4 class="mb-3">Ürün Açıklaması</h4>
        <p>@Model.ProductDescription</p>
    </div>
}
else
{
    <div class="tab-pane fade show active" id="tab-pane-1">
        <h4 class="mb-3">Ürün Açıklaması</h4>
        <span class="alert alert-primary">Henüz Açıklama Girilmemiş</span>
    </div>
}
