@model UpdateFeatureSliderDto
@{
    ViewData["Title"] = "UpdateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Öneçıkan Slider Güncelle</h4>
            <form class="forms-sample" method="post">
                <input type="hidden" asp-for="FeatureSliderId"/>
                <div class="form-group">
                    <label for="exampleInputName1">Başlık</label>
                    <input type="text" class="form-control" placeholder="Başlık" asp-for="Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Resim Url</label>
                    <input type="text" class="form-control" placeholder="Resim Url" asp-for="ImageUrl">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Açıklama</label>
                    <input type="text" class="form-control" placeholder="Açıklama" asp-for="Description">
                </div>
              
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" asp-for="Status"> Aktif mi?
                    </label>
                </div>
                <button class="btn btn-primary text-white btn-lg me-2">Güncelle</button>
                <a href="/Admin/FeatureSlider/Index/" class="btn btn-light btn-lg">Listeye Dön</a>
            </form>
        </div>
    </div>
</div>

